* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
}

h1{
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-size: 200%;}
h2 {
    text-align: center;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}


.artist-section {
    padding: 40px 0;
}

.artist-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 20px;
    height: 100vh; /* Make the grid fill the entire viewport height */
}
.artist {
    text-align: center;
    height: 100%; /* Make each artist grid item take up the full height of the grid container */
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.artist img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}
.artist p {
    margin-top: 10px;
    font-weight: bold;
}
footer {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    overflow-y: auto; /* Make the footer scrollable */
    max-height: 200px;
    margin-top: auto; /* Push footer to the bottom */
}
